@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
*{
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Card{
  color: beige;
  background-image: url(https://i.pinimg.com/originals/6a/92/9d/6a929dab1040ecfdb8e924c40b4e2490.gif);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  box-shadow: 4px 9px 2px 3px rgb(0, 0, 0, .3);
  padding: 30px;
  height: max-content;
  width: max-content;
  border-radius: 20px;
}  

.Card img{ 
  font-size: 50px;
  margin-left: 50px;
}

.Card h1{
  color: black;
}

.Card h3{
  color: black;
  margin: 10px;
  text-align: center;
}

.Temp{
  color: black;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.button{
  display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 40px;
	background: none;
	font-size: 20px;
	border-radius: 50px;
	cursor: pointer;
	border-radius: 5px;
  margin: 10px;
}

.button::hover{
  background-color: #20e2d7;
  box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
  color: #434343;
  transform: translate(0, -6px);
}

.Des{
  margin: 10px;
  text-align: center;
}

.Card p{
  margin: 20px;
}

.fa-solid{
  opacity: .5;
}